// FONT
$default-font-size: 1.6rem;

//COLORS
$color-bg-primary: #3A4655;
$color-bg-secondary: #425062;
$color-bg--light: #8794a5;
$color-bg--darker: #1d242d;
$color-bg--darkest: #111317;

$color-white: #FFF;

$color-red--light: #D95D4E;

$color-grey: #979797;
$color-grey--light: #DADADA;

$color-fone: #ffdb65;

